[Unit]
Description=Libertas %I
Requires=docker.service
After=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker-compose -f {{ general.libertas_root }}/%i/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f {{ general.libertas_root }}/%i/docker-compose.yml down
Restart=on-failure
StartLimitInterval=30
Environment="DOCKER_HOST=unix:///run/user/$UID/docker.sock"

[Install]
WantedBy=default.target
